* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(poza_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  overflow-y: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 0px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: hsl(270, 42%, 70%);
  text-transform: uppercase;
}

.navbar ul li a::after {
  content: "";
  height: 3px;
  width: 0;
  background: hsl(270, 42%, 70%);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 48px;
  margin-top: 80px;
  background-image: linear-gradient(to left, hsl(270, 42%, 70%), white);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.content p {
  margin: 20px auto;
  font-weight: 700;
  line-height: 25px;
}

.content .btn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 40px;
  font-weight: bold;
  border: 4px solid hsl(270, 42%, 70%);
  color: hsl(270, 42%, 70%);
  cursor: pointer;
  display: inline-block;
  background: transparent;
  color: hsl(270, 42%, 70%);
  text-transform: capitalize;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.content span {
  background: hsl(270, 42%, 70%);
  height: 100%;
  width: 0;
  border-radius: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.content .btn:hover span {
  width: 100%;
}

.content .btn:hover {
  border: none;
  color: white;
}

.heading-about {
  width: 100%;
  position: absolute;
  top: 8%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  z-index: 1;
}

.heading-about h1 {
  font-size: 50px;
  margin: 0;
  color: hsl(270, 42%, 70%);
  margin-bottom: 20px;
  position: relative;
}

.heading-about h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #b392d3;
}

.heading-about p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  color: white;
}

.container-about {
  position: absolute;
  bottom: 17%;
  width: 100%;
  margin: 20px auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  align-items: flex-start;
  text-align: center;
  gap: 20px;
}

.about-image {
  overflow: hidden;
  float: left;
}

.about-image img {
  max-width: 90%;
  object-fit: cover;
  transition: width 2s, height 2s, transform 2s, linear 2s;
}
.about-image:hover img {
  transform: scale(0.9);
}
.about-content {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  text-align: left;
}

.about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: white;
}

.about-content p {
  color: white;
  font-size: 19px;
}

.services-container {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#services-section {
  min-height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

#services-section h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
}

#services-section p {
  width: 60%;
  font-size: 1rem;
  color: hsl(270, 42%, 70%);
  line-height: 1.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
  z-index: 9;
  margin-top: 20px;
}

.cards .card {
  height: 280px;
  width: 240px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: white;
  border-radius: 40px;
  position: relative;
}

.cards .card::before {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  background: hsl(270, 42%, 70%);
  transition: width 2s, height 2s, transform 2s, linear 2s;
  transform: rotate(0deg);
  z-index: -1;
}

.cards .card:hover.card::before {
  transform: rotate(10deg);
}

.cards .card i {
  font-size: 2.5rem;
  color: hsl(270, 42%, 70%);
  margin-top: 20px;
  margin-bottom: 10px;
}
.cards .card .description h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.cards .card p {
  font-size: 1.05rem;
  margin-bottom: 10px;
  font-weight: 700;
  width: 100%;
}
