body {
  background: url("poza_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: contrast(1.2) brightness(1.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

* {
  font-family: sans-serif;
  font-weight: 600;
  box-sizing: border-box;
}

form {
  margin-top: -8px;
  width: 450px;
  border: 2px solid #ccc;
  border-style: inset;
  padding: 9px;
  background: transparent;
  border-radius: 15px;
  backdrop-filter: blur;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  background-image: linear-gradient(to left, hsl(270, 42%, 70%), white);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

input {
  display: block;
  border: 2px solid #ccc;
  outline: none;
  background: transparent;
  width: 95%;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  color: hsl(25, 100%, 90%);
  border-radius: 40px;
}

input::placeholder {
  color: hsl(25, 100%, 90%);
  padding-left: 5px;
}

label {
  font-size: 20px;
  padding: 15px;
  background-image: linear-gradient(
    to right,
    hsl(300, 100%, 50%),
    hsl(0, 0%, 55%)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
  color: hsl(300, 100%, 50%);
  padding-left: 15px;
}

a {
  color: hsl(25, 100%, 90%);
  text-decoration: none;
  padding-left: 5px;
}

a:active {
  color: hsl(300, 100%, 45%);
}

select {
  display: block;
  border: 2px solid #ccc;
  outline: none;
  width: 95%;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  color: hsl(25, 100%, 90%);
  background-color: transparent;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  appearance: none;
  outline: none;
}

select option {
  background-color: white;
  color: hsl(300, 100%, 50%);
}

button {
  cursor: pointer;
  display: block;
  margin: auto;
  font-size: 25px;
  padding: auto;
  border-radius: auto;
  border: none;
  background-image: linear-gradient(to left, hsl(270, 42%, 70%), white);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px hsl(300, 100%, 50%);
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  padding-bottom: 60px;
}

.container .content {
  margin-top: -450px;
  text-align: center;
}

.container .content h3 {
  font-size: 30px;
  color: white;
}

.container .content h3 span {
  background: hsl(270, 42%, 70%);
  color: white;
  border-radius: 5px;
  padding: 0 15px;
}

.container .content h1 {
  font-size: 50px;
  color: white;
}

.container .content h1 span {
  color: hsl(270, 42%, 70%);
}

.container .content p {
  font-size: 25px;
  margin-bottom: 20px;
}

.container .content .btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  font-size: 20px;
  background: white;
  color: hsl(270, 42%, 70%);
  margin: 0 5px;
  text-transform: capitalize;
}

.container .content .btn:hover {
  box-shadow: 0 0 0 3px hsl(270, 42%, 70%);
}

.container .content .btn:focus {
  outline: none;
  box-shadow: 0 0 0 5px hsl(300, 100%, 50%);
}
